# Redirect www → root
www.sirghiinicolai.com {
    redir https://sirghiinicolai.com{uri}
}
www.sirghiinicolai.com {
    redir https://sirghiinicolai.com{uri}
}

sirghiinicolai.com {
    root * /usr/share/caddy

    route {
        # 1. API always first
        handle_path /api/* {
            reverse_proxy backend:8000
        }

        # 2. Everything else → React SPA
        handle {
            try_files {path} /index.html
            file_server
        }
    }
}
